.container{
    height:100%;
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
}
#item{
    border-radius: 50%;
    height: 550px;
    margin: auto;
    width: 400px;
   background: url(IMG_3997.JPG) no-repeat center center/cover;
   /* background-image: url(IMG_3997.JPG); */
   

}
#item:hover{
    background: url(IMG_4009.JPG) no-repeat center center/cover;
}